.button_right {
    margin-top: 10px;
    float: right;
    margin-right: 10px;
}
.card-margin-top-left{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.card-margin-top-right{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.card-margin-left-right-bottom{
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;   
}
.card-margin-all{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.scroll-bg{
        margin:10px auto;
}
.scroll-div{
    width: 600px;
    height: 400px;
   
    overflow-y: scroll;
}
.scroll-object{
    padding: 10px;

}

.margin-top{
    margin-top: 10px;
}

.margin-right{
    margin-right: 10px;
}